@mixin text-hide() {
  font: #{0/0} a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/*
 * Change the looks of our placeholder
 */
@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

// Make our selection fancy
@mixin selection {
  &::-moz-selection{ @content; }
  &::selection{ @content; }
}

/*
 * Reset your list
 */
@mixin list-reset() {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    font-size: inherit ;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }
}

%vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin depth($amount) {
  /** Optimizing this with PHPStorm breaks it */
  border-bottom-width: $amount;
  border-bottom-color: rgba($black, 0.2);
}