$block-gray-color: #ebf1f1;

/** Old foundation medium-gray, overriden but input uses this border color */
$border-color: #cacaca;

$bronze-color: #CD7F32;
$silver-color: #C0C0C0;
$gold-color: #FFDF00;
$platinum-color: #E5E4E2;