.footer {
  @include list-reset;

  background: $dark-gray;

  &__nav-section {
    padding-bottom: 40px;
    text-align: center;

    @include breakpoint(medium) {
      padding-bottom: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }

    h2 {
      margin-bottom: 20px;
      color: $white;
      font-size: 16px;
      font-weight: 700;
    }

    a {
      color: $light-gray;
    }
  }

  &__bottom {
    border-top: 1px solid $medium-gray;
  }

  &__social-media {
    padding-bottom: 20px;
    text-align: center;
    color: $medium-gray;

    @include breakpoint(large) {
      padding-bottom: 0;
      text-align: left;
    }
  }

  &__copyright {
    display: block;
    text-align: center;
    color: $medium-gray;

    @include breakpoint(large) {
      text-align: right;
    }
  }
}