.availability-calendar {
  margin-top: 40px;

  &__header{
    display: table;
    width: 100%;
    padding-bottom: 20px;
  }

  &__header-title,
  &__button {
    display: table-cell;
    vertical-align: middle;
  }

  &__header-title {
    width: 50%;
  }

  &__button {
    padding: 0 20px;
    width: 25%;
    text-align: center;

    @include breakpoint(medium) {
      text-align: left;
      &:last-child {
        text-align: right;
      }
    }
  }

  &__grid {
    position: relative;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 5px;

    ul {
      margin: 0;
      display: table-row;
    }

    li {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }
  }

  &__weekday {
    font-size: 14px;
    font-weight: 700;
    list-style-type: none;
  }

  &__item {
    a {
      transition: all 0.3s ease;
      display: block;
      padding: 10px 0;
      text-align: center;
      font-weight: 700;
      background: #b9deff;

      border: 1px solid darken(#b9deff, 20%);
      border-bottom-width: 3px;
      border-radius: 10px;
    }

    &--week {
      a {
        background: $light-gray;
        border-color: darken($light-gray, 20%);
      }
    }

    &.is-booked {
      background: lighten($secondary-color, 20%);
      border-color: $secondary-color;
      color: $white;
    }

    &.is-available {
      a {
        background: lighten($primary-color, 20%);
        border-color: $primary-color;
        color: darken($primary-color, 30%);
      }
    }

    &.is-unavailable {
      a {
        background: #f9f9f9;
        border-color: darken(#f9f9f9, 10%);
        color: $medium-gray;
        cursor: not-allowed;
      }
    }

    &.is-selected,
    & a:focus {
      a {
        border-color: $secondary-color;
        color: $secondary-color;
      }
    }
  }

  &__form {
    display: none;
    position: absolute;
    width: 100%;
    padding: 20px;
    background: $white;
    box-shadow: 0 1px 4px 2px rgba($black, 0.5);

    @include breakpoint(medium) {
      border-radius: 15px;
      max-width: 420px;
    }

    &.is-shown {
      display: block;
    }

    /** CSS triangle */
    &__pointer {
      position: absolute;
      transition: all 0.3s ease;
      top: -40px;
      left: 40px;

      width: 40px;
      height: 40px;
      overflow: hidden;

      @include breakpoint(medium) {
        transition: none;
      }

      &:after {
        content: "";
        position: absolute;
        top: 30px;
        left: 10px;
        width: 20px;
        height: 20px;
        box-shadow: 0 0 4px 1px rgba($black, 0.5);
        transform: rotate(45deg);
        background: $white;
        z-index: 9;
      }
    }

    fieldset {
      border-top: 1px solid $light-gray;
      padding-top: 20px;
      margin-top: 20px;

      &:first-child {
        padding-top: 0;
        margin-top: 0;
        border-top: 0;
      }
      div {
        @include clearfix;
      }
      .form-error {
        margin-top: 10px;
        margin-bottom: 0;
      }
    }
    select {
      width: 45%;
      float: left;
      margin-bottom: 0;
    }

    .action {
      float: left;
      display: block;
      padding-left: 20px;
      width: 10%;
      font-weight: 700;
      font-size: 18px;
      height: 50px;
      line-height: 50px;

      &--delete {
        color: red;
      }

      &--add {
        color: darkgreen;
        font-size: 26px;
      }
    }

    button {
      margin-top: 20px;
    }
  }
}