.block {
  padding-top: 45px;
  padding-bottom: 45px;

  &--narrow {
    @include breakpoint(medium) {
      padding-left: 45px;
      padding-right: 45px;
    }
  }

  &--gray {
    background: $block-gray-color;
    padding-top: 20px;
    padding-bottom: 20px;

    @include breakpoint(medium) {
      padding-top: 45px;
      padding-bottom: 45px;
    }
  }
}