.button {
  margin: 0;
  width: 100%;

  font-weight: 700;

  border-radius: 5px;

  &--rounded {
    border-radius: 50px;
  }

  &--depth {
    @include depth(3px);
  }

  &--auto-width {
    width: auto;
  }
}