.card {
  position: relative;
  padding: 30px;
  border: 1px solid $light-gray;
  border-radius: 15px;
  @include depth(3px);

  &__header {
    margin-bottom: 20px;
  }

  &__profile-image {
    margin: 0 auto 20px;

    width: 90px;
    height: 90px;

    img {
      border-radius: 50%;
    }
  }

  &__title {
    margin-bottom: 0;
    font-size: $global-font-size;
    font-weight: 700;
  }

  &__city {
    font-size: $small-font-size;
    color: $dark-gray;
  }

  &__information {
    margin-left: 0;
    margin-bottom: 20px;
    text-align: center;

    li {
      list-style-type: none;
      padding: 0;
      margin: 0;
      font-size: $small-font-size;
      color: $dark-gray;
    }
  }

  &__anchor {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
}