.dashboard {
  @include clearfix;


  &__navigation {
    ul {
      @include clearfix;
      margin: 0;
    }

    li {
      float: left;
      width: 100%;
      margin: 0;

      list-style-type: none;
      text-align: center;

      a {
        display: block;
        padding: 10px;
        font-weight: bold;
        color: $secondary-color;

        &:hover {
          color: darken($secondary-color, 10%);
          text-decoration: underline;
        }
      }

      @include breakpoint (medium) {
        width: auto;
      }
    }
  }

  &__main {
    padding-bottom: 40px;
  }
  //@include breakpoint(large) {
  //  display: table;
  //}
  //
  //&__navigation {
  //
  //  @include breakpoint(large) {
  //    width: 300px;
  //    display: table-cell;
  //  }
  //}
  //
  //&__main {
  //  @include breakpoint(large) {
  //    display: table-cell;
  //  }
  //}

}