
.form {
  max-width: 620px;
  background: $white;
  z-index: 9;

  &--wide {
    max-width: none;
  }

  &__header {
    background: #f9f9f9;
  }

  &__body {
    &__section {
      border-bottom: 1px solid $light-gray;
    }
  }

  &__footer {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
  }

  &__disclaimer {
    color: $medium-gray;
    padding-bottom: $paragraph-margin-bottom;
  }

  .block {
    @include clearfix;
    border-top: 1px solid $light-gray;
  }

  .button {
    height: 60px;
  }

  a {
    display: block;
    padding-top: 20px;
  }

  @include breakpoint(large) {
    border-top: 1px solid $light-gray;

    .block {
      border: 1px solid $light-gray;
      border-top: 0;
    }
  }

}


