legend {
  color: $secondary-color;
  font-weight: bold;
  margin-top: 10px;
}

label {
  color: $dark-gray;
}

.input-group {
  &-label {
    color: $dark-gray;
    @include depth(3px);
    border-color: $border-color;
    border-radius: 5px 0 0 5px !important;
  }

  input:not([type="radio"]):not([type="checkbox"]),
  select,
  textarea {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

input:not([type="radio"]):not([type="checkbox"]),
select,
textarea {
  height: 50px;
  color: $dark-gray;
  border-radius: 5px;
  border-color: $border-color;

  @include depth(3px);

  &.is-invalid-input {
    border-color: $input-error-color;
  }

  &:focus {
    box-shadow: 0 0 6px 0 rgba($black, 0.8);
  }
}