.hero {

  &__title {
    padding-bottom: 45px;
    margin-bottom: 0;
    font-size: 32px;
    font-weight: 700;

    @include breakpoint (medium) {
      font-size: 48px;
    }
  }

  &__subtitle {
    display: block;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 400;

    @include breakpoint (medium) {
      font-size: 28px;
    }
  }
}