.hiring-requests {
  //border: 1px solid $light-gray;

  ul, li {
    margin: 0;
    list-style-type: none;
  }

  //.button {
  //  margin: 0;
  //}
  //
  //&__title {
  //  margin: 0;
  //  padding: 10px;
  //  font-size: 24px;
  //
  //}
  //
  //&__request {
  //  border-top: 1px solid $light-gray;
  //
  //  > span {
  //    display: block;
  //    padding: 10px;
  //    text-align: center;
  //  }
  //
  //  &__name {
  //    @include clearfix;
  //    padding: 10px;
  //
  //    h3 {
  //      float: left;
  //      margin: 0;
  //      text-align: left;
  //      font-size: 18px;
  //      font-weight: 700;
  //    }
  //  }
  //
  //  &__information {
  //    padding: 10px;
  //    border-top: 1px solid $light-gray;
  //  }
  //
  //  &__actions {
  //    @include clearfix;
  //  }
  //
  //  &__action {
  //    float: left;
  //    width: 50%;
  //
  //    border-radius: 0;
  //  }
  //}
}