.interview-requests {

  //border: 1px solid $light-gray;

  ul, li {
    margin: 0;
    list-style-type: none;
  }
  //
  //.button {
  //  margin: 0;
  //}
  //
  //&__title {
  //  margin: 0;
  //  padding: 10px;
  //  font-size: 24px;
  //
  //}
  //
  //&__request {
  //  border-top: 1px solid $light-gray;
  //
  //  > span {
  //    display: block;
  //    padding: 10px;
  //    text-align: center;
  //  }
  //
  //  &__name {
  //    @include clearfix;
  //    padding: 10px;
  //
  //    h3 {
  //      margin: 0;
  //      text-align: left;
  //      font-size: 18px;
  //      font-weight: 700;
  //    }
  //  }
  //
  //  &__date {
  //    @include clearfix;
  //    padding: 10px;
  //    border-top: 1px solid $light-gray;
  //    transition: 0.1s linear all;
  //
  //    &:hover {
  //      background: darken($white, 5%);
  //    }
  //  }
  //
  //  &__action {
  //    float: right;
  //    padding: 10px;
  //    font-size: 16px;
  //
  //    width: 45px;
  //    height: 45px;
  //  }
  //}
}