.login-form {
  max-width: 620px;

  @include breakpoint (large) {
    border: 1px solid $light-gray;
  }

  &__header {
    background: #f9f9f9;
  }

  .block {
    @include clearfix;
    border-top: 1px solid $light-gray;
  }
}