.pagination {
  @include list-reset;

  margin-top: 20px;
  margin-bottom: 0;

  /** override foundation's auto-hiding */
  li {
    @include breakpoint(small) {
      display: inline-block;
    }
  }

  &__item {
    a {
      margin-right: 5px;
      border-radius: 10px;
    }
    &:first-child,
    &:last-child {
      a {
        padding: 10px 20px;

        border: 1px solid $light-gray;
        @include depth(3px);
      }
    }
  }

  &__item--active {
    a {
      color: $white;
      background: $primary-color;

      /** got to ignore default hover for active element */
      &:hover {
        background: $primary-color;
      }
    }
  }

  &__item--disabled {
    a:hover {
      background: $white;
      cursor: not-allowed;

    }

    &:first-child,
    &:last-child {
      a {
        background: $light-gray;
      }
    }
  }
}