/**
*  Credits for this rating module goes to http://codepen.io/mrk1989/pen/mLeHJ
*/
.rate {
  border: 0;
  text-align: center;
  padding: 20px 0;

  &__stars {
    @include clearfix;
    display: inline-block;

    /* Hide radio, so they're still tabbable */
    > input {
      width: 0;
      height: 0;
      opacity: 0;
    }

    /* Order correctly by floating highest to the right */
    > label {
      float: right;
      margin: 0;
      color: #fbd519;
    }

    /* The star of the show */
    > label:before {
      font-size: 28px;
      line-height: 1em;
      padding: 0 0.2em;
      margin: 0;
      cursor: pointer;
      font-family: FontAwesome;

      @include breakpoint(medium) {
        font-size: 45px;
      }
    }

    .full:before {
      content: "\f006"; /* star no outline */
    }

    /* Half star trick */
    .half {
      color: rgba(251, 213, 25, 0);

      &:before {
        content: "\f089";
        position: absolute;
        padding-right: 0;
      }
    }

    /* Click + hover color */
    input:checked ~ label, /* color current and previous stars on checked */
    label:hover, label:hover ~ label {
      &.half {
        color: #fbd519;
      }
      &.full:before {
        content: "\f005";
      }
    }

    /* Hover highlights */
    input:checked + label:hover, input:checked ~ label:hover, /* highlight current and previous stars */
    input:checked ~ label:hover ~ label, /* highlight previous selected stars for new rating */
    label:hover ~ input:checked ~ label /* highlight previous selected stars */
    {
        color: #fbe514;
    }

    ///* Zero stars rating */
    //> label:last-child:before {
    //  content: "\f006 "; /* empty star outline */
    //}
    //
  }
}
