.request-card {
  overflow: hidden;
  border: 1px solid $light-gray;
  border-radius: 10px;

  &__header {
    position: relative;
    padding: 20px;
    border-bottom: 1px solid $light-gray;
  }

  &__profile-image {
    position: absolute;
    top: calc(50% - 37.5px);
    margin: 0;
    padding: 0;
    width: 75px;
    height: 75px;

    img {
      border-radius: 50%;
    }
  }

  &__user-info {
    margin-left: 95px;

    h1 {
      font-size: 24px;
      text-align: left;
    }

    p {
      margin-bottom: 0;
      color: $dark-gray;
    }
  }

  &__comment {
    padding: 20px;
    border-bottom: 1px solid $light-gray;
    margin-bottom: 0;
  }

  &__hiring-info {
    padding: 20px;
    margin-bottom: 0;
    border-bottom: 1px solid $light-gray;
  }

  &__interview-dates {
    h2 {
      margin: 0;
      padding: 10px 0;
      color: $dark-gray;
      font-size: 16px;
      border-bottom: 1px solid $light-gray;
    }

    ul {
      display: flex;
      border-bottom: 1px solid $light-gray;
    }

    &__date {
      width: 100%;

      a {
        display: block;
        padding: 20px;
        text-align: center;
        transition: background 0.3s ease;
        border-right: 1px solid $light-gray;

        &:hover {
          background: darken($white, 5%);
        }
      }

      &:last-child {
        a {
          border-right: 0;
        }
      }
    }
  }

  &__footer {
    display: flex;

    button {
      border-radius: 0;
    }
  }
}