.role-selection {
  display: flex;
  width: 100%;

  flex-direction: row;
  flex-wrap: wrap;

  border: 1px solid $light-gray;
  border-radius: 10px;
  @include depth(3px);

  &__role {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;

    @include breakpoint(medium) {
      flex: 0 0 50%;
    }

    &:first-child {
      border-right: 0;

      @include breakpoint(medium) {
        border-right: 1px solid $light-gray;
      }
    }

    &__header {
      padding: 20px;
      background: #f9f9f9;

      h1 {
        margin: 0;
        font-size: 32px;
      }
    }

    &__body {
      margin: 0;
      padding: 20px;
      border-top: 1px solid $light-gray;
      border-bottom: 1px solid $light-gray;
      flex-grow: 1;

      p:last-child {
        margin-bottom: 0;
      }
    }

    &__footer {
      padding: 20px;
    }
  }
}