.search-form {
  margin: 0 auto;
  max-width: 700px;

  &__input-section {
    @include clearfix;

    input,
    select,
    .button {
      @include depth(3px);

      float: left;
      height: 60px !important;
    }
  }

  &__date,
  &__from,
  &__to,
  &__location,
  &__radius {
    padding: 0 30px;
    margin-bottom: 15px;
  }

  &__date {
    @include breakpoint(medium) {
      width: 40%;
      border-radius: 25px 0 0 25px !important;
    }

    border-radius: 25px !important;
  }

  &__from {
    @include breakpoint(medium) {
      width: 30%;
      border-left: 0;
      border-radius: 0;
    }

    width: 50%;
    border-radius: 25px 0 0 25px;
  }

  &__to {
    @include breakpoint(medium) {
      width: 30%;
    }

    width: 50%;
    border-left: 0;
    border-radius: 0 25px 25px 0 !important;
  }

  &__location {
    border-radius: 25px !important;

    @include breakpoint (medium) {
      width: 40%;
      margin-bottom: 0;
      border-right: 0;
      border-radius: 25px 0 0 25px !important;
    }
  }

  &__radius {
    @include breakpoint(medium) {
      width: 30%;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    float: left;
    margin-bottom: 0 !important;
    border-radius: 25px 0 0 25px;
    width: 65%;
  }

  .button {
    @include breakpoint(medium) {
      width: 30%;
    }

    float: left;
    border-radius: 0 25px 25px 0;
    border-color: darken($light-gray, 10%);
    width: 35%;
  }

  &__errors {
    padding-top: 15px;
  }
}
