.search {
  @include clearfix;

  &__header {
    padding: 30px 40px;

    h1 {
      font-size: 22px;

      @include breakpoint(medium) {
        font-size: 28px;
        text-align: left;
      }
    }
  }

  &__body {
    border-top: 1px solid $light-gray;
    padding-top: 20px;
    padding-bottom: 20px;

    @include breakpoint(medium) {
      padding-top: 45px;
      padding-bottom: 45px;
    }
  }
  &__filters {
    margin-bottom: 15px;
  }

  &__results {
    &__item {
      list-style-type: none;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      @include breakpoint(medium) {
        margin-bottom: 30px;
      }
    }
  }
}