.subscription-plans {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-width: 1px 0 0 1px;

  // Shared style for root and child
  &, &__plan {
    // Optimising this makes the borders thicker (border: solid $light-gray;)
    border-color: $light-gray;
    border-style: solid;
  }


  &__plan {
    display: flex;
    justify-content: center;
    flex: 0 0 100%;
    flex-direction: column;
    border-width: 0 1px 1px 0;
    transition: background 0.5s;

    &:hover {
      background: #f9f9f9;
    }

    @include breakpoint(medium) {
      flex: 0 0 50%;
    }

    @include breakpoint(large) {
      flex: 0 0 25%;
    }


    &__header{
      padding: 20px;
      background: $primary-color;
      color: $white;
    }

    &__body {
      padding: 20px;
      height: 250px;
      border-bottom: 1px solid $light-gray;
    }

    &__footer {
      padding: 20px;
      margin-top: auto;

    }

    &__title {
      margin: 0;
      font-weight: 300;
      font-size: 32px;
      line-height: 1;
    }

    &--bronze {

    }

    &--silver {

    }

    &--gold {

    }

    &--platinum {

    }
  }
}