.update-profile {

  &__profile-image {
    position: relative;
    margin: 0 auto;
    width: 160px;
    height: 160px;

    img {
      border-radius: 50%;
    }

    &__remove-button {
      position: absolute;
      top: 8px;
      right: 8px;
      display: block;
      width: 30px;
      text-align: center;
      background: red;
      border-radius: 50%;
      transition: background 0.2s ease;

      &:hover {
        background: darken(red, 10%);
      }

      i {
        color: $white;
        font-size: 15px;
        line-height: 30px;
      }
    }
  }
}