.user-profile {
  overflow: hidden;
  &__body {


    h2 {
      margin: 45px 0 $paragraph-margin-bottom;
      color: $secondary-color;
      text-align: left;
      font-size: 24px;
      font-weight: 700;
    }
  }

  &__profile-image {
    margin: 0 auto 20px;
    width: 125px;
    height: 125px;

    img {
      border-radius: 50%;
    }
  }

  &__title {;
    h1 {
      color: $secondary-color;
      font-size: 24px;
      font-weight: 700;
    }
    h2 {
      margin-bottom: 0;
      font-size: 20px;
      color: $dark-gray;
    }
  }


  aside {
    // Find better way for equal height columns :D
    padding-bottom: 99999px;
    margin-bottom: -99999px;
    background: #f9f9f9;

    @include breakpoint(medium) {
      //box-shadow: inset 4px 0 8px -4px rgba(0,0,0,0.4);
    }
  }
}